
<div class="about-text-container">
    <h1>History of the Cedar Post</h1>
    <p>
    The Cedar Post Farm Market has been in business for 35 years. The original market was built on Route 9 in Toms River, using several "cedar posts,". 
    </p>    

    <p>
    In 1996, the business was moved to Route 70 W in Lakehurst. 
    Owners Robert and Stephanie Canali pride themselves with hand selecting all of the merchandise they sell. 
    The produce is brought in from a terminal market in Philadelphia several times a week, and also from many local farms when available.
    Items are tasted and handled by Robert before they are purchased, no "middle man" or broker is used.
    This assures the highest quality produce at the best prices for our customers. 
    Unique and exotic food items can be found here throughout the season.
    </p>
        
    <p>
    We also hand carry a huge assortment of bedding plants, hanging baskets, vegetable plants, perennials, and nursery stock, which are also selected and purchased from local growers.
    </p>
    <p>
    You can also find a variety of garden decor/gifts, fertilizers, soils, local honey, freshly baked pies and much more!
    </p>

</div>
