.title-container{
    // background-color: #966F33;
    border-radius: 25px;
    font-family: verdana, sans-serif;
    text-align: center;
    margin: auto;
    width: 50%;
    .main-title{
        color: #24a159;
        font-size: 38px;
        padding-top: 10px;
        text-shadow: 1px 1px black;
    }
    .sub-title{
        color: #24a159;
        font-size: 22px;
        text-shadow: .5px .5px black;
        padding-bottom: 10px;
    }
}


.car-cont{
    margin: auto;
    display: block;
    height: 350px;
    width: 80vw;
    border: 1px solid black;
    border-radius: 0.5em;
}
.proverb-quote{
    margin-top: 20px;
    text-align: center;
    span{
        font-style: italic;
    }
}